@import url('normalize.css');

/* Box-sizing fix */
body * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

header, main, footer, nav, article, aside, div {
	display: block;
	overflow: hidden;
} 

#master-grid {
				max-width: 1200px;
				margin: 0 auto;
				display: grid;
				grid-template-columns: 1fr 2fr 2fr 2fr;
				grid-template-rows: 100px auto auto auto auto;
				grid-template-areas: 	"nav header header header"
															"nav main main aside"
															"nav main main aside"
															"nav main main aside"
															"nav footer footer footer";
				background-color: lightgrey; 												
}
			
#header {
	grid-area: header;
	background-image: url(../bilder/bakgrunn.jpg);
	color: white;
	text-align: center;
	padding: 15px;
}
			
#nav {
	grid-area: nav;
	border-style: solid;
	border-width: 5px;
	border-color: lightslategrey;
	padding: 15px;
	position: fixed;
	height: 1500px;
	background-color: lightslategrey;
}	
				
#main {
	grid-area: main;
	border-style: solid;
	border-width: 5px 0px;
	border-color: lightslategrey;
	padding: 15px;
}
				
#aside {
	grid-area: aside;
	border-style: solid;
	border-width: 5px;
	border-color: lightslategrey;
	padding: 15px;
	
}	
				
#footer {
	grid-area: footer;
	text-align: center;
	padding-top: 50px;
	border-style: solid;
	border-width: 0px 5px 5px 5px;
	border-color: lightslategrey;
}		

h2 {
	text-align: center;
}
h3 {
	text-align: center;
}



.knapp {
	border-style: solid;
	border-radius: 5px;
	border-width : 1px 4px 4px 1px;
	text-decoration : none;
	padding : 4px;
	border-color : lightslategrey;
	background-color: white;
	

 }

 .knapp:hover { 
	 border-color: black;
}

li {
	margin-bottom: 10px;
}

img {																																	 
	width: 50%;
	float: right;
	margin: 15px 15px 0px 15px;
}

.bildetekst {
	width: 50%;
	float: right;
	text-align: center;
}

main>article>article {
	width: calc(100% / 2 - 20px); 
	float: left;
	margin: 10px;
}

.tg  {																													/* Styling av timeplan, brukte en webgenerator til å få tabellen slik jeg ville */
	border-collapse:collapse;border-spacing:0;
	margin: 20px auto;
}
.tg td {
	font-family:Arial, sans-serif;font-size:8px;padding:5px 1px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;
}
.tg th{font-family:Arial, sans-serif;font-size:8px;font-weight:normal;padding:5px 1px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;
}
.tg .tg-et8b {
	background-color:#00009b;color:#ffffff;vertical-align:top
}
.tg .tg-yw4l {
	vertical-align:top
}
.tg .tg-u722 {
	background-color:#34ff34;vertical-align:top
}
.tg .tg-8env {
	background-color:#fe0000;color:#ffffff;vertical-align:top
}

tr:nth-child(odd) {																							/* farge på anhver linje i tabellene */
    background-color: lightslategrey;
}

svg {
	display: block;
	margin: 20px auto;
}

#flagg {
	width: 500px;
	float: none;
	display: block;
	margin: 20px auto;
	
}
